<!-- mainnavdiv.html -->

<div class="dropdown-container">




<!--    <button class="dropdown-btn">RTECHBCSAPP</button>
    <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/index.html'">Main Page</button>
    <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/videoplayer.html'">Video Player</button>
    <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/upload.html'">Video Select / Upload</button>
    <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/leaderboard.html'">Top VJs Leaderboard</button>

-->
<button id="receiptsButton" class="aaabuttons"
onclick="window.location.href='http://127.0.0.1:3001/index.html'">Home Page</button>
<button id="receiptsButton" class="aaabuttons"
onclick="window.location.href='http://127.0.0.1:3001/send.html'">Send USDC</button>
<button id="receiptsButton" class="aaabuttons"
onclick="window.location.href='http://127.0.0.1:3001/receive.html'">Receive USDC</button>
    <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/sendtxlist.html'">Sent Tx List</button>
    <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/receivedtxlist.html'">Received Tx List</button>
    

        <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/simpletx.html'">Simple Tx</button>

        <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/stats.html'">Stats</button>


        <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/credits.html'">Credits</button>


    <!--    <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/receipt.html'">Receipts</button>

        <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/simpletx.html'">Simple Tx</button>

        <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/news.html'">News</button>
        <button id="receiptsButton" class="aaabuttons"
        onclick="window.location.href='http://127.0.0.1:3001/documents.html'">Docs</button>

        -->
</div>